.promoCreateForm {
  margin: 0 auto;
  // width: 30rem;
}

.csvPickerContainer {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: center;
}

.middleLines {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  span {
    background: #fff;
    padding: 0 10px;
  }
}

.buttonField {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttonCreate {
  text-align: center;
}
