[id^='moduleBox'] {
  background-color: #f0f8ff;
}

[id^='subModuleBox'] {
  background-color: #f8f8ff;
}

[id^='sequenceBox'] {
  background-color: #f5f5f5;
}

.root {
  display: flow-root;
}

[id^='add'],
[id^='delete'],
#clearProgram {
  padding: 0;
}
