.programTitle {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.moduleTitle {
  font-weight: 600;
  text-transform: capitalize;
}

.subModuleTitle {
  font-weight: 400;
  margin-left: 1rem;
}

.sequenceTitle {
  font-weight: 200;
  margin-left: 2rem;
}
