.admin-home-link {
  margin: 0 1rem 1rem 0;
}

.promotionTitle {
  font-weight: bold;
  display: inline;
}

.promosContainer {
  display: flex;
  flex-direction: column;
}

.promoLineContainer {
  margin: 0.5rem 0;
}

.detailsLink {
  color: blue;
}
