.container-404 {
  margin: 0 auto;
  width: 500px;
  padding: 1rem;
}

#goBack {
  background-color: #00d1b2;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}

#notfound {
  height: 700px;
}
