html, body {
  height: 100%;
}

.fluid{
  max-width:none;
  width: 100%;
  padding-left:32px;
  padding-right:32px;
}

.header {
  z-index: 100;
  position: sticky;
  top: 0px;
  padding-bottom: 0.5rem;
}