.notification {
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  width: 30rem;
  justify-content: space-between;
}

.PromoDataHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .promoInfo {
    margin-bottom: 1rem;
  }
}
