@import "~bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: 650px;
@import "~bulma/bulma.sass";

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #00d1b2;
    }
}

@media screen and (max-width: 748px) {
    .navbar-menu {
        font-size: 0.85rem;
    }
}



a {
    color: #4a4a4a
}

.navBarLoggedOut {
    margin: 1.4rem;
    display: flex;
}


#navbarLogo, #navBarAvatar  {
    max-height: 3.75rem;
    height: 50px;
    border-radius: 50px;
}

.dropdownMenu {
    right: 0;
    left: initial;
    width: 3rem;
    top: 87%;
}

a:hover{
    color:#3273dc
}

.profilItems a {
    margin-left: 1.4rem;
}

.dropdownItem:hover {
    background-color: #fafafa;
}

.icon-signout {
    font-size: 2rem;
}
