$footer-padding: 2rem 1.5rem 6rem !default;

.footer {
  padding: $footer-padding;
  background-color: #f5f5f5;
}

.socialContainer {
  margin-top: 0.5rem;
}

.socialIcon {
  width: 1rem;
  margin: 0 0.5rem;
}
